bin/
*.o
*.d
*.bak

Paper/*.pdf
Paper/*.aux
Paper/*.log
Paper/*.out
Paper/*.synctex.gz
log.txt

*.csv
*.log
*.zip


competitors/cuCollections/build/
competitors/DyCuckoo/dynamicHash/build/
results/

scripts/__pycache__/
.aider*

